{% extends "layout.html" %}
 
{% block body %}
     <div class="row">
 
      <!-- Post Content Column -->
      <div class="col-lg-8">
 
        <!-- Title -->
        <h1 class="mt-4">{{article.title}}</h1>
 
        <!-- Author -->
        <p class="lead">
          by
          {{article.author.username}}
        </p>
 
        <hr>
 
        <!-- Date/Time -->
        <p>{{article.created_date}}</p>
 
        <hr>
        {% if article.article_image %}
          <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
        {% endif %}

        <hr>
 
        <!-- Post Content -->
        <p class="lead">
        {{article.content}}
        
        </p>
 
        <hr>
        <h4>Yorumlar</h4>
        <hr>
        {% if comments %}
        {% for comment in comments %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{comment.comment_author}}</h5>
                {{comment.comment_date}} <br>
                {{comment.comment_content}}
            </div>
          </div>
        {% endfor %}
          
        {% else %}
          <div class = "alert alert-danger">
            Bu Makaleye Yorum Yapılmamış, İlk Yorum Yapan Siz Olun !..
          </div>
        {% endif %} 


        <div class="card my-4">
          <h5 class="card-header">Yorumunuzu Ekleyin:</h5>
          <div class="card-body">
            <form method= "post" action = "/articles/articles/{article.id}">
              {% csrf_token %}
                <div class="form-group">
                  <label for="formGroupExampleInput">İsim</label>
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi Girin">
                </div>
                <div class="form-group">
                  <label for="formGroupExampleInput2">Yorumunuz</label>
                  <input name = "comment_content" type="text" class="form-control" id="formGroupExampleInput2" placeholder="İçinizden Gelenler...">
                </div>
              <button type="submit" class="btn btn-primary">Gönder</button>
            </form>
          </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock body %}